<!DOCTYPE html>
{% load static %}
<head>
    <title> My Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div class = "page-header">
        <h1>  💃 Welcome to my one and only website. Leyy goooo!! 💃</h1>  
    </div>

    <h2> Choose what you want to explore : </h2>
    
    <div class = "post">
        <h3> Portfolio </h3>
        <p> Check my work and projects so far</p>
        <a href = "/portfolio/" class="btn-secondary"> Go to Portfolio</a>
    </div>

    <div class="post">
        <h3> Stories </h3>
        <p> (👉ﾟヮﾟ)👉 </p>
        <a href="/stories/" class="btn-secondary"> Read my Stories</a>
    </div>
</body>